@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span data-aos="fade-up-left">
        <h1 class="display-4">Witamy w Sklepie Aukcyjnym</h1>
       
    </span>
 
    <img data-aos="fade-up-right" width="40%" src="~/LogoBazar1.png" />
</div>

