@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span data-aos="fade-up-left">
        <h1 class="display-4">Welcome</h1>
        <p>Click <a asp-action="Index" asp-controller="Item">here</a> to see offers.</p>
    </span>
 
    <img data-aos="fade-up-right" width="40%" src="~/welcome.jpg" />
</div>

