@using Bazar.Data.Models
@model List<Item>

<table class="table striped">
    <thed>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thed>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>