@model LoginViewModel

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>

}


<div class="main-container ">
    <div class="form-view">
        <h1>Login</h1>
<form method="POST">

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <p class="text-danger">@ViewBag.EmailError</p>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <p class="text-danger">@ViewBag.PasswordError</p>
    </div>

    <button class="btn form-button button-right">Login</button>
</form>
</div>
</div>