@model RegisterViewModel



<div class="main-container ">
    <div class="form-view">
        <h1>Register</h1>
        <form method="POST">
            <div>
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PasswordConfirmation"></label>
                <input asp-for="PasswordConfirmation" class="form-control" type="password" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>

            <span class="text-danger">@ViewBag.Error</span>
            <br />
            <div>
                <button class="btn form-button button-right">Register</button>
            </div>

        </form>
    </div>
</div>
